.crew {
    width: 960px;
    height: 475px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.crew-title {
    width: 950px;
    height: 27px;
    line-height: 27px;
    background: #303338;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.crew-title span {
    margin-left: 15px;
}

.crew-title span a {
    font: 12px 微软雅黑, serif;
}

.crew-title span:before {
    content: url("../images/icon_1.png");
    margin-right: 7px;
}

.crew-content {
    width: 940px;
    height: 400px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.crew-content img {
    float: left;
}

.crew-content-list {
    float: right;
    width: 660px;
    height: 375px;
}

.crew-content-list li {
    width: 660px;
    /*height: 125px;*/
    border-bottom: #b6b6b6 dotted 1px;
    box-sizing: border-box;
    float: left;
}

.crew-content li h3 {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 156px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    float: left;
    margin-top: 10px;
    /*margin-left: 10px;*/
}

.crew-content li:nth-of-type(1) h3 {
    background: #006766;
}

.crew-content li:nth-of-type(2) h3 {
    background: #989933;
}

.crew-content li:nth-of-type(3) h3 {
    background: #b065cc;
}

.crew-content li p {
    width: 660px;
    /*height: 90px;*/
    font: 14px 微软雅黑, serif;
    /*text-indent: 28px;*/
    line-height: 24px;
    float: left;
    margin-top: 10px;
    /*margin-left: 10px;*/
}