.culture {
    width: 960px;
    height: 1004px;
    margin-top: 10px;
    margin-left: 10px;
    background: #ffffff;
    border-radius: 5px;
}

.culture-title {
    width: 950px;
    height: 27px;
    line-height: 27px;
    background: #303338;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.culture-title span {
    margin-left: 15px;
}

.culture-title span a {
    font: 12px 微软雅黑, serif;
}

.culture-title span:before {
    content: url("../images/icon_1.png");
    margin-right: 7px;
}

.culture-content {
    width: 940px;
    height: 940px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.culture-pic-big {
    width: 561px;
    height: 561px;
    border: #d8d7d3 solid 1px;
    box-sizing: border-box;
    background: #f7f7f5;
    float: right;
    margin-right: 44px;
    margin-top: 46px;
}

.culture-pic-big img {
    padding: 18px;
}

.culture-pic-small {
    width: 258px;
    height: 258px;
    border: #d8d7d3 solid 1px;
    box-sizing: border-box;
    background: #f2f2f5;
    float: right;
    margin-right: 44px;
    margin-top: 46px;
}

.culture-pic-small img {
    padding: 18px;
}