.estate {
    width: 960px;
    height: 774px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.estate-title {
    width: 950px;
    height: 27px;
    line-height: 27px;
    background: #303338;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.estate-title span {
    margin-left: 15px;
}

.estate-title span a {
    font: 12px 微软雅黑, serif;
}

.estate-title span:before {
    content: url("../images/icon_1.png");
    margin-right: 7px;
}

.estate-content {
    width: 940px;
    height: 725px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.estate-content-intro {
    width: 940px;
    height: 80px;
    border-bottom: #b6b6b6 dotted 1px;
    box-sizing: border-box;
    float: left;
}

.estate-content-intro p {
    line-height: 30px;
    padding: 10px;
    text-indent: 28px;
    font-size: 14px;
    font-family: 微软雅黑, serif;
}

.estate-content-list {
    width: 940px;
    height: 645px;
    float: left;
}

.estate-content-list li {
    width: 940px;
    height: 129px;
    border-bottom: #b6b6b6 dotted 1px;
    box-sizing: border-box;
    float: left;
}

.estate-content-list li img {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.estate-content-list li h3 {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 156px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.estate-content-list li:nth-of-type(1) h3 {
    background: #006766;
}

.estate-content-list li:nth-of-type(2) h3 {
    background: #989933;
}

.estate-content-list li:nth-of-type(3) h3 {
    background: #b065cc;
}

.estate-content-list li:nth-of-type(4) h3 {
    background: #cc6601;
}

.estate-content-list li:nth-of-type(5) h3 {
    background: #cc6566;
}

.estate-content-list li p {
    width: 753px;
    height: 64px;
    font: 14px 微软雅黑, serif;
    text-indent: 28px;
    line-height: 24px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}