.job {
    width: 960px;
    height: 564px;
    margin-top: 10px;
    margin-left: 10px;
    background: #ffffff;
    border-radius: 5px;
}

.job-title {
    width: 950px;
    height: 27px;
    line-height: 27px;
    background: #303338;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.job-title span {
    margin-left: 15px;
}

.job-title span a {
    font: 12px 微软雅黑, serif;
}

.job-title span:before {
    content: url("../images/icon_1.png");
    margin-right: 7px;
}

.job-content {
    width: 940px;
    height: 522px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.job-content-title {
    width: 940px;
    height: 76px;
    line-height: 30px;
    border-bottom: #b6b6b6 dotted 1px;
    box-sizing: border-box;
}

.job-content p {
    text-align: center;
    font-size: 20px;
}

.job-content-text {
    width: 940px;
    height: 462px;
}
