.wuliu {
    width: 960px;
    height: 500px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.wuliu-title {
    width: 950px;
    height: 27px;
    line-height: 27px;
    background: #303338;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.wuliu-title span {
    margin-left: 15px;
}

.wuliu-title span a {
    font: 12px 微软雅黑, serif;
}

.wuliu-title span:before {
    content: url("../images/icon_1.png");
    margin-right: 7px;
}

.wuliu-content {
    width: 940px;
    height: 425px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

.wuliu-content p {
    font: 14px 微软雅黑, serif;
    line-height: 24px;
    text-indent: 28px;
}

.wuliu-content img {
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -292px;
}