<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌案例</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID: <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name: <input type="text" class="form-control" v-model="name">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">
            </div>
        </div>
        <table class="table table-bordered table-hove table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in list" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.ctime }}</td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="vue.js"></script>
    <script>
		var app = new Vue({
			el: '#app',
			data: {
				id: '',
                name: '',
                list: [
                    { id: 1, name: 'BENZ', ctime: new Date() },
                    { id: 2, name: 'BMW', ctime: new Date() }
                ]
			},
			methods: {
                add() {
                	var car = { id: this.id, name: this.name, ctime: new Date() }
                	this.list.push(car)
                    this.id = this.name = ''
                }
			}
		})
    </script>
</body>
</html>