<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌案例</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID: <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name: <input type="text" class="form-control" v-model="name">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">
                <label>
                    搜索内容的关键字：<input type="text" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>
        <table class="table table-bordered table-hove table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <!-- 自定义一个search方法，同时把所有关键字通过传参的形式传递给了search方法 -->
            <!-- 在search方法内部通过for循环把符合条件的数据放到一个新数组中，然后再用v-for进行展示出来 -->
            <tr v-for="item in search(keywords)" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.ctime }}</td>
                <td>
                    <a href="#" @click="del(item.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="vue.js"></script>
    <script>
		var app = new Vue({
			el: '#app',
			data: {
				id: '',
				name: '',
                keywords: '',
				list: [
					{ id: 1, name: 'BENZ', ctime: new Date() },
					{ id: 2, name: 'BMW', ctime: new Date() }
				]
			},
			methods: {
				add() {
					var car = { id: this.id, name: this.name, ctime: new Date() }
					this.list.push(car)
					this.id = this.name = ''
				},
				del(id) {
					// 方法1
					this.list.some((item, i) => {
						if (item.id === id) {
							this.list.splice(i, 1)
							return true
							// 在数组的 some 方法中，如果 return true ，就会立即终止这个数组的后序循环
						}
					})
					// 方法2
					// var index = this.list.findIndex(item => {
					// 	if (item.id === id) {
					// 		return true
					//     }
					// })
					// this.list.splice(index, 1)
				},
                search(keywords) {
					// var newList = []
                    // this.list.forEach(item => {
                    // 	if (item.name.indexOf(keywords) !== -1) {
                    // 		newList.push(item)
                    //     }
                    // })
                    // return newList

                    // forEach some filter findIndex 这些都是数组的新方法
                    // 都会对数组中的每一项进行遍历进行相关操作

                    return this.list.filter(item => {
                    	if (item.name.includes(keywords)) {
                    		return item
                        }
                    })
                    // return newList
                }
			}
		})
    </script>
</body>
</html>