.wrapper {
    max-width: 10rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.78rem;
    background: #2c2c2c;
}

.header span:nth-of-type(1) {
    font-size: 0.56rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0.27rem;
}

.header span:nth-of-type(2) {
    width: 100%;
    text-align: center;
    font-size: 0.36rem;
    font-family: 微软雅黑, serif;
    color: #ffffff;
}

.header span:nth-of-type(3) {
    font-size: 0.56rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 0.27rem;
}

.banner {
    width: 100%;
    height: 2.92rem;
    position: relative;
}

.banner-pic1 {
    width: 100%;
    height: 3.70rem;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.banner-pic1-decorate {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 2;

}

.banner-pic1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.banner-pic2 {
    width: 2.74rem;
    height: 2.92rem;
    position: absolute;
    z-index: 3;
    left: 0.42rem;
    bottom: 0;
}

.banner-pic2 img {
    width: 2.74rem;
    height: 2.92rem;
}

.banner-title {
    position: absolute;
    left: 3.1rem;
    bottom: 50%;
    margin-bottom: -0.52rem;
}

.banner-title p {
    width: 100%;
    font-size: 0.40rem;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.main {
    width: 75%;
    margin: 0 auto;
}

.alert-msg {
    width: 100%;
    height: 0.48rem;
    display: flex;
    align-items: center;
}

.alert-msg span:nth-of-type(1) {
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 0.14rem;
    background: #ff5959;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-msg span:nth-of-type(1) img {
    width: 0.03rem;
    height: 0.16rem;
}

.alert-msg span:nth-of-type(2) {
    color: #ff5959;
    font-size: 0.21rem;
    font-family: 微软雅黑, serif;
    margin-left: 0.15rem;
}

#tel-num {
    width: 100%;
    height: 0.8rem;
    float: left;
    border: #c7c7c7 0.01rem solid;
    box-sizing: border-box;
    font-size: 0.28rem;
}

#tel-num::placeholder {
    font-size: 0.28rem;
    color: #c7c7c7;
    padding-left: 0.28rem;
}

#password {
    width: 100%;
    height: 0.8rem;
    margin-top: 0.2rem;
    float: left;
    border: #c7c7c7 0.01rem solid;
    box-sizing: border-box;
    font-size: 0.28rem;
}

#password::placeholder {
    font-size: 0.28rem;
    color: #c7c7c7;
    padding-left: 0.28rem;
}

#verification-code {
    width: 62.5%;
    height: 0.8rem;
    margin-top: 0.2rem;
    float: left;
    border: #c7c7c7 0.01rem solid;
    box-sizing: border-box;
    font-size: 0.28rem;
}

#verification-code::placeholder {
    font-size: 0.28rem;
    color: #c7c7c7;
    padding-left: 0.28rem;
}

.verification-code-num {
    width: 32%;
    height: 0.8rem;
    background: #b2b2b2;
    font-size: 0.48rem;
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 0.2rem;
}

#remember-password {
    float: left;
    margin-top: 0.2rem;
}
