.wrapper {
    max-width: 10rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.78rem;
    background: #2c2c2c;
}

.header span:nth-of-type(1) {
    font-size: 0.56rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0.27rem;
}

.header span:nth-of-type(2) {
    width: 100%;
    text-align: center;
    font-size: 0.36rem;
    font-family: 微软雅黑, serif;
    color: #ffffff;
}

.header span:nth-of-type(3) {
    font-size: 0.56rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 0.27rem;
}

.banner {
    width: 100%;
    height: 3.46rem;
    position: relative;
}

.banner-pic1 {
    width: 100%;
    height: 4.30rem;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.banner-pic1-decorate1 {
    width: 84%;
    height: 0.55rem;
    border-top-left-radius: 0.55rem;
    background: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.banner-pic1-decorate2 {
    width: 15%;
    height: 0.55rem;
    border-top-right-radius: 0.55rem;
    background: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.banner-pic1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.banner-pic2 {
    width: 35.6%;
    height: 2.34rem;
    position: absolute;
    z-index: 3;
    right: 0.37rem;
    bottom: 50%;
    margin-bottom: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-pic2 img {
    width: 2.10rem;
    height: 2.34rem;
}

.banner-title {
    width: 52.8%;
    height: 2.34rem;
    position: absolute;
    left: 0.37rem;
    bottom: 50%;
    margin-bottom: -0.87rem;
    text-align: center;
}

.banner-title1 {
    font-size: 0.21rem;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 0.25rem;
}

.banner-title1 span {
    font-size: 0.54rem;
}


.banner-title2 {
    width: 100%;
    margin-top: 0.50rem;
}

.banner-title2 img {
    width: 3.06rem;
    height: 0.46rem;
}

.main {
    width: 100%;
}

.main-box {
    width: 100%;
    height: 1.05rem;
    margin: 0 auto;
    position: relative;
}

.main-decorate {
    width: 70.5%;
    height: 1rem;
    margin: 0 auto;
}

.main-decorate img {
    width: 100%;
    height: 1rem;
}

.main-box-title {
    width: 1.05rem;
    height: 1.05rem;
    border-radius: 0.525rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box-title p {
    color: #ffffff;
    font-size: 0.18rem;
}

.main-box-title p:nth-of-type(1) span {
    font-size: 0.29rem;
}

.main-box-content {
    width: 66.24%;
    height: 1.05rem;
}

.main-box1-title, .main-box3-title, .main-box5-title {
    position: absolute;
    left: 15.4%;
    margin-left: -0.525rem;
}

.main-box1-content, .main-box3-content, .main-box5-content {
    position: absolute;
    left: 26.72%;
}

.main-box1-content p, .main-box3-content p, .main-box5-content p {
    width: 100%;
    text-align: left;
}

.main-box2-title, .main-box4-title, .main-box6-title {
    position: absolute;
    right: 15.4%;
    margin-right: -0.525rem;
}

.main-box2-content, .main-box4-content, .main-box6-content {
    position: absolute;
    right: 26.72%;
}

.main-box2-content p, .main-box4-content p, .main-box6-content p {
    width: 100%;
    text-align: right;
}

.main-box1-title {
    background: #ff5858;
}

.main-box1-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #ff5858;
}

.main-box1-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
}

.main-box2-title {
    background: #ff7a46;
}

.main-box2-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #ff7a46;
}

.main-box2-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
}

.main-box3-title {
    background: #ffae2e;
}

.main-box3-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #ffae2e;
}

.main-box3-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
}

.main-box4-title {
    background: #b6ca4c;
}

.main-box4-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #b6ca4c;
}

.main-box4-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
}

.main-box5-title {
    background: #6fc242;
}

.main-box5-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #6fc242;
}

.main-box5-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
}

.main-box6-title {
    background: #1cab73;
}

.main-box6-content p:nth-of-type(1){
    margin-top: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #1cab73;
}

.main-box6-content p:nth-of-type(2){
    margin-top: 0.10rem;
    font-size: 0.18rem;
    color: #707070;
 }

.main-bottom-pic {
    width: 100%;
    height: 2.77rem;
    margin-top: 0.28rem;
}

.main-bottom-pic img {
    width: 100%;
    height: 2.77rem;
}

.footer {
    width: 100%;
    margin-top: 0.15rem;
    border-top: #e9e9e9 solid 0.02rem;;
}

.footer-logo {
    width: 87.5%;
    height: 0.66rem;
    margin: 0.20rem auto 0;
    /*float: left;*/
}

.footer-logo-box1 {
    width: 36.78%;
    height: 0.66rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: #a6a6a6 solid 0.02rem;
    box-sizing: border-box;
}

.footer-logo-box1 img {
    width: 0.54rem;
    height: 0.57rem;
    margin-right: 0.20rem;
}

.footer-logo-box1 div {
    margin-right: 0.20rem;
}

.footer-logo-box1 div p:nth-of-type(1) {
    color: #e8801a;
    font: 0.28rem 微软雅黑, serif;
}

.footer-logo-box1 div p:nth-of-type(2) {
    color: #e8801a;
    font: 0.12rem 微软雅黑, serif;
}

.footer-logo-box2 {
    width: 63.21%;
    height: 0.66rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-logo-box2 img {
    width: 0.66rem;
    height: 0.66rem;
    margin-left: 0.20rem;
}

.footer-logo-box2 div {
    width: 100%;
    margin-left: 0.20rem;
}

.footer-logo-box2 p {
    font: 0.16rem 微软雅黑, serif;
}

.footer-copyright {
    width: 100%;
    height: 0.44rem;
    float: left;
    margin-top: 0.20rem;
    background: #2c2c2c;
    display: flex;
    align-items: center;
}

.footer-copyright p {
    width: 100%;
    color: #ffffff;
    font: 0.16rem 微软雅黑, serif;
    text-align: center;
}